* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 960px;
  margin: auto;
  color: darkslategrey;
}

h2{
    margin: 0;
}

p{
    line-height: 1.5;
}

#colmar {
  color: grey;
  font-weight: bold;
}

#academy {
  color: lightgrey;
}

header{
    padding-left: 24px;
    padding-right: 24px;
}

header.flex-container {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  justify-content: center;
}

nav {
  text-align: right;
  width: 100%;
}

nav span {
  padding-left: 16px;
}



.intro {
  display: flex;
  background-color: lightgrey;
  align-items: center;
}

.intro img {
  width: 60%;
  height: 60%;
  margin: 32px 24px;
}

.intro div {
  flex-direction: column;
  color: darkslategrey;
  margin-right: 100px;
}

.intro h2 {
  font-size: 48px;
  font-weight: bolder;
}

.button {
  background-color: darkslategrey;
  font-size: 14px;
  padding: 8px 0;
  max-width: 100%;
  color: white;
  text-align: center;
}

.about-campus {
  display: flex;
  justify-content: center;
}

.about-campus .big-box {
  width: 60%;
  border-right: solid thin lightgrey;
  border-bottom: solid thin lightgrey;
}

.about-campus .img-container {
  padding: 32px 24px;
  
}

.about-campus .big-box img {
  width: 100%;
}

.big-box-text{
    padding-right: 24px;
    padding-left: 24px;
}

.about-campus .big-box h2,
.about-campus .big-box p,
.about-campus .big-box h6 {
  width: 100%;
  color: darkslategrey;
}

.about-campus .big-box h2 {
  margin-bottom: 24px;
  font-size: 34px;
}

.about-campus .big-box p{
    font-size: 14px;
}
 .about-campus .big-box h6 {
  margin-bottom: 32px;
  margin-top: 28px;
}

.about-campus .small-boxes {
  border-right: solid thin lightgrey;
  width: 40%;
  

}

.about-campus .small-box {
  display: flex;
  border-bottom: thin solid lightgrey;
  padding-left: 16px;
  height: 33.3%;
  color: darkslategrey;
  
}

.about-campus .small-box .img-container{
    width: 35%;
    padding: 16px 0px;
}

.about-campus .small-box img {
  width: 100%;
}

.guest-lecture{
    background-color: lightgrey;
}

.infobox{
    width: 65%;
    padding-left: 16px;
}

.infobox-title {
  font-size: 14px;
}
.info-details {
  margin-top: 8px 0;
  font-size: 12px;
}

.link {
  color: #007bff;
  font-size: 12px;
}

.infobox {
  flex-direction: column;
}

.orientation{
    padding-top: 16px;
}

.courses {
background-color: lightgrey;
color: darkslategrey;
overflow: auto;
}

.course-boxes{
    display: flex;
    flex-wrap: wrap;
       justify-content: center;
}

.course-box{
    width: 261.33px;
    overflow: auto;
    background-color: white;
}

.course-box img{
    height: auto;
    width: 100%;
}

.courses h2 {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;

}

.left-box {
  margin-left: 72px;
  margin-right: 16px;
}

.right-box {
  margin-right: 72px;
  margin-left: 16px;
}

.course-title{
    font-size: 20px;
    padding-top: 16px;
    margin: 0;
}

.capital-courses{
    padding-top: 8px;
    margin: 0;
    font-size: 14px;
}

.course-content{
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-right: 24px;
    margin: 0;
}

.course-box h6, .course-box p{
    padding-left: 16px;
}

.bottom-box{
    margin-top: 16px;
    margin-bottom: 32px;
}

.thesis h2{
    margin: 32px 0 32px 0;
    text-align: center;
}

.thesis .flex-container{
    display: flex;
    flex-wrap: wrap;
  
}

.thesis .big-box{
    padding-left: 24px;
    padding-bottom: 32px;
    width: 60%;
}

.video-container{
    padding: 0px 24px 24px 0px;
}

video{
    width: 100%;
}

.video-title{
    font-size: 16px;
    margin: 0;
}

.video-description{
    font-size: 12px;
    padding-right: 24px;
}

.thesis .small-boxes{
    width: 40%;
}

.thesis .small-box{
    display: flex;
    align-items: center;
    padding: 16px 24px 16px 16px;
    
}

.thesis .img-container{
    width: 35%;
    padding-right: 16px;
}

.thesis img{
    width: 100%;
}

.thesis .box-text{
    width: 65%;
}

.thesis .smallbox-title{
    font-size: 16px;
    margin: 0;
}

.thesis .smallbox-description{
    font-size: 12px;
    margin: 0;
    padding: 8px 24px 24px 0;
}

.fisma{
    background-color: lightgrey;
}

footer{
    padding: 16px 8px 24px 24px;
    font-size: 10px;
}

.terms-privacy{
    text-align: right;
}